@import '../../../scss/variables.scss';

.vista[name="register"]{
	#buttons{
		display: flex;
		flex-direction: column;
		align-items: center;
		height: calc(100% - 44px);
		justify-content: center;
		.btn:first-child{
			margin-bottom: 20px;
		}
	}
}
.vista[name="registerData"]{
	#register{
		background-color: $negro;
		color: white;
	}
}