.vista[name="aviso"] {
  z-index: 9; }
  .vista[name="aviso"] > * {
    margin-top: 0; }
  .vista[name="aviso"] header h2 {
    margin-left: 20px !important;
    margin-right: 60px !important; }
  .vista[name="aviso"] #main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 102px);
    padding: 0 40px; }
    .vista[name="aviso"] #main .icon {
      width: 100px;
      height: 100px;
      fill: #222629;
      margin-bottom: 40px; }
    .vista[name="aviso"] #main p {
      font-size: 18px;
      font-weight: 300;
      text-align: center; }

/*# sourceMappingURL=aviso.css.map */
