.vista[name="home"] #map {
  height: calc(100% - 45px);
  margin-top: 45px;
  width: 100%; }
  .vista[name="home"] #map .marker-info > h1 {
    margin: 0;
    margin-bottom: 8px;
    color: gray;
    font-weight: 300;
    font-size: 22px; }
  .vista[name="home"] #map .marker-info #bodyContent {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 20px; }
    .vista[name="home"] #map .marker-info #bodyContent .img {
      background-position: center;
      background-size: cover;
      width: 40px;
      height: 40px;
      border-radius: 100%; }
    .vista[name="home"] #map .marker-info #bodyContent > span {
      overflow-wrap: break-word;
      color: gray;
      width: calc(100% + 40px);
      display: inline-block; }

/*# sourceMappingURL=home.css.map */
