.vista[name="home"]{
	#map{
		height: calc(100% - 45px);
	    margin-top: 45px;
	    width: 100%;
		.marker-info{
			& > h1{
				margin: 0;
		    	margin-bottom: 8px;
		    	color: gray;
		    	font-weight: 300;
		    	font-size: 22px;
			}
			#bodyContent{
				display: -ms-flexbox;
				display: flex;
		    	-ms-flex-direction: column;
		    	    flex-direction: column;
		    	-ms-flex-align: center;
		    	    align-items: center;
		    	margin-left: 20px;
		    	.img{
		    		background-position: center;
				    background-size: cover;
				    width: 40px;
		    		height: 40px;
		    		border-radius: 100%;
		    	}
		    	> span{
				    overflow-wrap: break-word;
				    color: gray;
				    width: calc(100% + 40px);
    				display: inline-block;
		    	}
		    	.btn-go{

		    	}
			}
		}
	}
}