<!DOCTYPE html>
<html ng-app="starter" ng-controller="appCtrl" >
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
        <title></title>

        <link rel="manifest" href="manifest.json">

        <!-- un-comment this code to enable service worker
        <script>
        if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
        .then(() => console.log('service worker installed'))
        .catch(err => console.log('Error', err));
        }
        </script>-->

        <link href="lib/ionic/css/ionic.css" rel="stylesheet">

        <script src="lib/ionic/js/ionic.bundle.js"></script>

        <script src="js/ng-cordova.min.js"></script>
        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>

        <script src="js/app.js"></script>
        <script src="lib/jquery/jquery-3.1.0.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaYs30mCFyovNGZ5GvsFQxBYxwyieYkN0&libraries=geometry"
    async defer></script>

        <script src="components/home/js/homeCtrl.js"></script>
        <script src="components/login/js/loginCtrl.js"></script>
        <script src="components/register/js/registerCtrl.js"></script>
        <script src="components/auth/js/authCtrl.js"></script>
        <script src="components/aviso/js/avisoCtrl.js"></script>
        <script src="components/pregunta/js/preguntaCtrl.js"></script>
        <script src="components/top/js/topCtrl.js"></script>



        <link ng-if="platform.isAndroid()" rel="stylesheet" href="lib/materialize/materialize.min.css">
        <script  ng-if="platform.isAndroid()" src="lib/materialize/materialize.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="components/home/css/home.css">
        <link rel="stylesheet" type="text/css" href="components/login/css/login.css">
        <link rel="stylesheet" type="text/css" href="components/register/css/register.css">
        <link rel="stylesheet" type="text/css" href="components/auth/css/auth.css">
        <link rel="stylesheet" type="text/css" href="components/aviso/css/aviso.css">
        <link rel="stylesheet" type="text/css" href="components/pregunta/css/pregunta.css">
        <link rel="stylesheet" type="text/css" href="components/top/css/top.css">


    </head>
    <body>
        <ion-pane>
            <ion-side-menus>
                <ion-side-menu side="left" is-enabled="{{isLogged()}}">
                    <li menu-close on-tap="goTo('home')">Inicio</li>
                    <li menu-close on-tap="goTo('top')">Top 100</li>
                    <li>Contacto</li>
                    <li>Configuracion</li>
                    <li menu-close class="logout" on-tap="logout()">
                    	<span>{{user.name}}</span>
                    	<span>Salir</span>
                    </li>
                </ion-side-menu>

                <ion-side-menu-content edge-drag-threshold="false" drag-content="false">
                    <div class="bar bar-stable">
                        <button menu-toggle="left" class="button icon ion-navicon" ng-class="{ocultar : !isLogged()}"></button>
                        <h1 class="title">{{title}}</h1>
                    </div>
                    <ion-nav-view></ion-nav-view>
                </ion-side-menu-content>
            </ion-side-menus>
        </ion-pane>
    </body>
</html>
