@import '../../../scss/variables.scss';
.vista[name="auth"]{
	#buttons{
		display: flex;
		flex-direction: column;
		align-items: center;
		height: calc(100% - 44px);
		justify-content: center;
		.btn:first-child{
			margin-bottom: 20px;
		}
		span{
		    margin-top: 5px;
		    display: inline-block;
		}
		#login{
			background-color: $verde;
			color: $negro;
		}
		#registrarse{
			background-color: $negro;
			color: white;
		}
	}
}