.vista[name="auth"] #buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 44px);
  justify-content: center; }
  .vista[name="auth"] #buttons .btn:first-child {
    margin-bottom: 20px; }
  .vista[name="auth"] #buttons span {
    margin-top: 5px;
    display: inline-block; }
  .vista[name="auth"] #buttons #login {
    background-color: #96DDCF;
    color: #222629; }
  .vista[name="auth"] #buttons #registrarse {
    background-color: #222629;
    color: white; }

/*# sourceMappingURL=auth.css.map */
