.vista[name="pregunta"] {
  z-index: 9; }
  .vista[name="pregunta"] > * {
    margin-top: 0; }
  .vista[name="pregunta"] header h2 {
    margin-left: 20px !important;
    margin-right: 60px !important;
    display: flex;
    flex-direction: column; }
    .vista[name="pregunta"] header h2 .calories {
      font-weight: 300;
      opacity: 0.6;
      font-size: 14px; }
  .vista[name="pregunta"] #main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 102px);
    padding: 0 40px; }
    .vista[name="pregunta"] #main img {
      height: 200px;
      fill: #222629;
      margin-bottom: 40px; }
    .vista[name="pregunta"] #main h3 {
      font-weight: 300;
      font-size: 22px; }
    .vista[name="pregunta"] #main .answers {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 70%; }
      .vista[name="pregunta"] #main .answers .answer {
        margin-bottom: 20px;
        list-style: none;
        padding: 10px;
        background-color: #8F8CE2;
        color: white;
        width: 100%;
        display: block;
        border-radius: 2px;
        text-align: center;
        height: 40px;
        transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1); }

/*# sourceMappingURL=pregunta.css.map */
