@import 'variables.scss';
.menu-left li {
    list-style: none;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 300;
    text-decoration: none;
    color: $negro;
    &.logout{
    	position: absolute;
	    bottom: 20px;
	    padding: 10px;
	    display: flex;
	    flex-direction: column;
	    width: calc(100% - 20px);
	    cursor: pointer;
	    span:first-child {
		    font-size: 16px;
		}
		span:last-child {
		    font-size: 14px;
		    opacity: 0.7;
		}
    }
}
.platform-android{
	/* valid color */
	.input-field input.valid {
		 border-bottom: 1px solid $negro !important;
		 box-shadow: 0 1px 0 0 $negro !important;
	}
	/* invalid color */
	.input-field input.invalid {
		border-bottom: 1px solid $naranja !important;
		box-shadow: 0 1px 0 0 $naranja !important;
		& + label::after{
			top: 38px !important;
			color: $naranja;
			transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
		}
	}
	input:focus + label, input.valid + label  {
		color: $negro !important;
	}
	input:focus{
		border-bottom: 1px solid $negro !important;
		box-shadow: 0 1px 0 0 $negro !important;
		color: $negro;
		& + label::after{
			opacity: 0 !important;
		}
	}
}
.bar-stable{
	background: none !important;
    border-bottom: 1px solid #eee !important;
    .button{
    	border-color: transparent !important;
    	&.hide{
    		display: inline-block !important;
    	}
    	&.ocultar{
    		display: none !important;
    		visibility: hidden !important;
    	}
    }
}
.icon-back, .icon-close{
	opacity: 0;
	transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
	position: absolute;
	top: 0px;
    left: 0px;
    padding: 20px;
    font-size: 20px;
	&.show{
		opacity: 1;
	}
}
.icon-close{
	left: auto;
	right: 0px;
	font-size: 50px;
    padding-top: 6px;
}
.vista {
	overflow-y: auto;
	& > header{
		h2{
		    font-size: 22px;
		    margin-left: 60px;
		    margin-top: 18px;
		    font-weight: 500;
		    opacity: 0.7;
		}
	}
	& > *{
		margin-top: 44px;
	}
	& > form{
		padding: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		.input-field{
			width: 100%;
		}
		.button{
			margin-top: 40px;
		}
	}
	.button{
		padding: 0px 10px;
		width: 150px;
		background-color: #47BFC9;
	}
	.dropdown-content li:not(.disabled){
		a, span{
			color: $morado;
		}
	}
}