@import '../../../scss/variables.scss';
.vista[name="pregunta"]{
	z-index: 9;
	& > *{
		margin-top: 0;
	}
	header h2{
		margin-left: 20px !important;
		margin-right: 60px !important;
		display: flex;
		flex-direction: column;
		.calories{
			font-weight: 300;
			opacity: 0.6;
			font-size: 14px;
		}
	}
	#main{
	    display: flex;
	    justify-content: center;
	    flex-direction: column;
	    align-items: center;
	    height: calc(100% - 102px);
	    padding: 0 40px;
	    img{
			height: 200px;
			fill: $negro;
			margin-bottom: 40px;
		}
		h3{
			font-weight: 300;
			font-size: 22px;
		}
		.answers{
			display: flex;
			justify-content: center;
	    	flex-direction: column;
	    	align-items: center;
	    	width: 70%;
	    	.answer{
	    		margin-bottom: 20px;
	    		list-style: none;
			    padding: 10px;
			    background-color: $morado;
			    color: white;
			    width: 100%;
			    display: block;
			    border-radius: 2px;
			    text-align: center;
			    height: 40px;
				transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
	    	}
		}
	}
}