<ion-view class="vista" name="auth" cache-view="false">
    <div id="buttons">
        <a id="login" on-tap="goTo('login')" class="button waves-effect waves-light btn"><span>Iniciar sesion</span></a>
        <a id="registrarse"  on-tap="goTo('register')" class="button waves-effect waves-light btn"><span>Registrarse</span></a>
    </div>
</ion-view>
