<ion-view class="vista" name="login" cache-view="false">
	<form class="login" name="loginForm" novalidate >
		<div class="input-field">
			<input id="loginEmail" name="loginEmail" ng-class="{validate: true, invalid: loginForm.loginEmail.$error.required && loginForm.$submitted}" type="email" ng-model="data.email" required>
			<label for="loginEmail" data-error="Campo requerido" data-success="">Correo</label>
	    </div>
	    <div class="input-field">
			<input id="loginPassword" name="loginPassword" ng-class="{validate: true, invalid: loginForm.loginPassword.$error.required && loginForm.$submitted}" type="password" ng-model="data.password" required>
			<label for="loginPassword" data-error="Campo requerido" data-success="">Contraseña</label>
	    </div>
	    <button id="login" on-tap="login($event)" class="button waves-effect waves-light btn"><span>Iniciar sesion</span></button>
	</form>
</ion-view>