<ion-view class="vista" name="pregunta">
	<header>
		<i class="icon-close ion-ios-close-empty" on-tap="back($event)"></i>
		<h2>
			<span>{{data.name}}</span>
			<span class="calories" ng-if="data.calories && isAthlete()">{{data.calories}} Calorias quemadas</span>
		</h2>
	</header>
	<div id="main">
		<h3>{{data.question}}</h1>
		<img ng-src="{{data.image}}">
		<div class="answers">
			<li class="answer" on-tap="check($event)" ng-repeat="answer in data.answers" data-right="{{answer.right}}">
				{{answer.text}}
			</li>
		</div>
	</div>
</ion-view>