<ion-view class="vista" name="registerData">
	<form class="register" name="registerForm" novalidate >
		<div class="input-field">
			<input id="registerName" name="registerName" ng-class="{validate: true, invalid: registerForm.registerName.$error.required && registerForm.$submitted}" type="text" ng-model="data.name" required>
			<label for="registerName" data-error="Campo requerido" data-success="">Nombre</label>
	    </div>
		<div class="input-field">
			<input id="registerEmail" name="registerEmail" ng-class="{validate: true, invalid: registerForm.registerEmail.$error.required && registerForm.$submitted}" type="text" ng-model="data.email" required>
			<label for="registerEmail" data-error="Campo requerido" data-success="">Correo</label>
	    </div>
	    <div class="input-field" ng-if="data.type == 'deportista'">
			<select id="registerSport" name="registerSport" ng-class="{validate: true, invalid: registerForm.registerSport.$error.required && registerForm.$submitted}" ng-model="data.sport" required>
				<option value="" disabled selected>Escoge tu deporte</option>
				<option value="futbol">Futbol</option>
				<option value="ciclismo">Ciclismo</option>
				<option value="atletismo">Atletismo</option>
				<option value="natacion">Natacion</option>
		    </select>
			<label for="registerSport" data-error="Campo requerido" data-success="">Deporte</label>
	    </div>
	    <div class="input-field" ng-if="data.type == 'deportista'">
			<input id="registerWeight" name="registerWeight" ng-class="{validate: true, invalid: registerForm.registerWeight.$error.required && registerForm.$submitted}" type="text" ng-model="data.weight" required>
			<label for="registerWeight" data-error="Campo requerido" data-success="">Peso</label>
	    </div>
	    <div class="input-field">
			<input id="registerPassword" name="registerPassword" ng-class="{validate: true, invalid: registerForm.registerPassword.$error.required && registerForm.$submitted}" type="password" ng-model="data.password" required>
			<label for="registerPassword" data-error="Campo requerido" data-success="">Contraseña</label>
	    </div>
	    <div class="input-field" ng-if="data.type == 'turista'">
			<input id="registerDays" name="registerDays" ng-class="{validate: true, invalid: registerForm.registerDays.$error.required && registerForm.$submitted}" type="number" ng-model="data.days" required>
			<label for="registerDays" data-error="Campo requerido" data-success="">Dias de visita</label>
	    </div>
	    <button id="register" on-tap="register($event)" class="button waves-effect waves-light btn"><span>Registrarse</span></button>
	</form>
</ion-view>