<ion-view class="vista" name="register">
    <div id="buttons">
        <button id="turista" on-tap="goForm($event)" data-name="turista" class="button waves-effect waves-light btn"><span>Turista</span></button>
        <button id="deportista" on-tap="goForm($event)" data-name="deportista" class="button waves-effect waves-light btn"><span>Deportista</span></button>
    </div>
</ion-view>
