.vista[name="top"] #main li {
  list-style: none;
  width: calc(100% - 80px);
  margin: 6px 40px;
  padding: 10px;
  display: flex;
  justify-content: space-between; }

/*# sourceMappingURL=top.css.map */
