.vista[name="register"] #buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 44px);
  justify-content: center; }
  .vista[name="register"] #buttons .btn:first-child {
    margin-bottom: 20px; }

.vista[name="registerData"] #register {
  background-color: #222629;
  color: white; }

/*# sourceMappingURL=register.css.map */
