.menu-left li {
  list-style: none;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
  font-weight: 300;
  text-decoration: none;
  color: #222629; }
  .menu-left li.logout {
    position: absolute;
    bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    cursor: pointer; }
    .menu-left li.logout span:first-child {
      font-size: 16px; }
    .menu-left li.logout span:last-child {
      font-size: 14px;
      opacity: 0.7; }

.platform-android {
  /* valid color */
  /* invalid color */ }
  .platform-android .input-field input.valid {
    border-bottom: 1px solid #222629 !important;
    box-shadow: 0 1px 0 0 #222629 !important; }
  .platform-android .input-field input.invalid {
    border-bottom: 1px solid #F0CEA1 !important;
    box-shadow: 0 1px 0 0 #F0CEA1 !important; }
    .platform-android .input-field input.invalid + label::after {
      top: 38px !important;
      color: #F0CEA1;
      transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1); }
  .platform-android input:focus + label, .platform-android input.valid + label {
    color: #222629 !important; }
  .platform-android input:focus {
    border-bottom: 1px solid #222629 !important;
    box-shadow: 0 1px 0 0 #222629 !important;
    color: #222629; }
    .platform-android input:focus + label::after {
      opacity: 0 !important; }

.bar-stable {
  background: none !important;
  border-bottom: 1px solid #eee !important; }
  .bar-stable .button {
    border-color: transparent !important; }
    .bar-stable .button.hide {
      display: inline-block !important; }
    .bar-stable .button.ocultar {
      display: none !important;
      visibility: hidden !important; }

.icon-back, .icon-close {
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 20px;
  font-size: 20px; }
  .icon-back.show, .icon-close.show {
    opacity: 1; }

.icon-close {
  left: auto;
  right: 0px;
  font-size: 50px;
  padding-top: 6px; }

.vista {
  overflow-y: auto; }
  .vista > header h2 {
    font-size: 22px;
    margin-left: 60px;
    margin-top: 18px;
    font-weight: 500;
    opacity: 0.7; }
  .vista > * {
    margin-top: 44px; }
  .vista > form {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .vista > form .input-field {
      width: 100%; }
    .vista > form .button {
      margin-top: 40px; }
  .vista .button {
    padding: 0px 10px;
    width: 150px;
    background-color: #47BFC9; }
  .vista .dropdown-content li:not(.disabled) a, .vista .dropdown-content li:not(.disabled) span {
    color: #8F8CE2; }

/*# sourceMappingURL=main.css.map */
